<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">
<title>ToolBox</title>
<meta name="description" content="Tool Box">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/sample.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/sample.js}"></script>

<script type="text/javascript">
	
</script>
<style>
</style>
</head>
<body>
	<div class="container-fluid">
		<form method="POST" action="/" enctype="multipart/form-data">
			<h5>サンプル</h5>
		</form>
	</div>
</body>
</html>