<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">
<title>Sample</title>
<meta name="description" content="Sample">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/sample.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/sample.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#srcValue').scroll(function() {
			$('#destValue').scrollTop($(this).scrollTop());
			$('#destValue').scrollLeft($(this).scrollLeft());
		});
		$('#destValue').scroll(function() {
			$('#srcValue').scrollTop($(this).scrollTop());
			$('#srcValue').scrollLeft($(this).scrollLeft());
		});
	});

	function doConvert() {
		$("#destValue").val("");
		ajaxRequest("/sample/convert", {
			srcValue : $("#srcValue").val()
		}, function(data) {
			console.log(data.responseText);
			$("#destValue").val(data.responseText);
		}, function(data) {
			console.log(data.responseText);
			$("#destValue").val(data.responseText);
		});
	}
</script>
<style>
</style>
</head>
<body>
	<div class="container-fluid">
		<form method="POST" action="/" enctype="multipart/form-data">
			<h5>サンプル</h5>
			<div id="headerArea"></div>
			<div id="divConvert" class="form-group">
				<table>
					<thead>
						<tr>
							<th>输入</th>
							<th></th>
							<th>输出</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><textarea class="form-control" id="srcValue" rows="30" style="word-wrap: normal; width: 600px; overflow: auto;" th:placeholder="输入"></textarea></td>
							<td><input type="button" value="->" onclick='doConvert()' class="btn btn-primary" /></td>
							<td><textarea class="form-control" id="destValue" rows="30" style="word-wrap: normal; width: 800px; overflow: auto;" placeholder="输出"></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</body>
</html>